::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #333;
}