::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: $almost-white;
}

::-webkit-scrollbar-thumb {
	background: $mauve;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: $mauve-dark;
}