::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: $almost-white;
}

::-webkit-scrollbar-thumb {
	background: $gray-lighter;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: $gray-light;
}