@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

@font-face {
    font-family: 'Quorga';
    src: url('../fonts/Quorga-Regular.woff2') format('woff2'),
         url('../fonts/Quorga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.title-big,
.title-medium,
.title-small {
	font-family: $quorga;
	font-weight: $regular;
	font-variant: no-common-ligatures;

	* {
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}
}

.title-big {
	font-size: 40px;
	line-height: 1.6;

	@media #{$mq-sm-min} {
		font-size: 44px;
	}

	@media #{$mq-md-min} {
		font-size: 48px;
	}

	@media #{$mq-lg-min} {
		font-size: 52px;
	}

	@media #{$mq-xl-min} {
		font-size: 56px;
	}

	@media #{$mq-2xl-min} {
		font-size: 60px;
	}
}

.title-medium {
	font-size: 26px;
	line-height: 1.6;

	@media #{$mq-sm-min} {
		font-size: 28px;
	}

	@media #{$mq-md-min} {
		font-size: 32px;
	}

	@media #{$mq-lg-min} {
		font-size: 34px;
	}

	@media #{$mq-xl-min} {
		font-size: 36px;
	}

	@media #{$mq-2xl-min} {
		font-size: 40px;
	}
	
}

.title-small {
	font-size: 12px;
	line-height: 1.6;
}

.text-big {
	font-size: 22px;
	line-height: 1.4;

	@media #{$mq-sm-min} {
		font-size: 24px;
	}

	@media #{$mq-md-min} {
		font-size: 26px;
	}

	@media #{$mq-lg-min} {
		font-size: 28px;
	}

	@media #{$mq-xl-min} {
		font-size: 30px;
	}

	@media #{$mq-2xl-min} {
		font-size: 32px;
	}
}

.text-medium {
	font-size: 16px;
	line-height: 1.6;

	@media #{$mq-sm-min} {
		font-size: 18px;
	}

	@media #{$mq-md-min} {
		font-size: 20px;
	}

	@media #{$mq-lg-min} {
		font-size: 22px;
	}
}

.text-small {
	font-size: 14px;
	line-height: 1.6;

	@media #{$mq-sm-min} {
		font-size: 16px;
	}
}

.text-smaller {
	font-size: 14px;
}

.text-big,
.text-medium,
.text-small,
.text-smaller {
	font-family: $finlandica;
	font-weight: $regular;
	font-variant: no-common-ligatures;

	strong, b {
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		font-weight: $bold;
		font-family: inherit;
	}

	* {
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		color: inherit;
	}
}